<!DOCTYPE html>
<html>

<head>
    <title>Receipt</title>
</head>

<body>
    <h1>Receipt</h1>
    <p>Order ID: {{ order.id }}</p>
    <p>Date: {{ order.created_at }}</p>
    <p>Customer: {{ order.customer.username }}</p>

    <h2>Order Items</h2>
    <ul>
        {% for item, quantity, item_total in order_items %}
        <li>{{ item.name }} - {{ item.price }} x {{ quantity }} = {{ item_total }}</li>
        {% endfor %}
    </ul>

    <p>Subtotal: {{ total|substract:tax|add:discount }}</p>
    <p>Tax: {{ tax }}</p>
    <p>Discount: {{ discount }}</p>
    <p>Total: {{ total }}</p>
    <p>Payment Type: {{ payment_type }}</p>
</body>

</html>